---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Customize splash page photo
.page__hero--overlay {
    padding: 10em 0;
}

// Get rid of blank space for author sidebar
.page {
    width: 100%;
}

// Sizing for cells in tables (schedule page)
table td {
    width: 50%;
}
